In [5]:
proprietari_auto = {"Ada": "Punto",
                    "Ben": "Multipla",
                    "Charlie": "Golf",
                    "Debbie": "107"}

In [7]:
proprietari_auto["Debbie"]

'107'

In [10]:
rubrica = {"Ada": "123",
           "Ben": "456",
           "Charlie": "789",
           "Debbie": "012",
           "Marco": "345"}

In [12]:
rubrica["Marco"]

'345'

In [19]:
proprietari_auto.values() #casting

dict_values(['Punto', 'Multipla', 'Golf', '107'])

In [21]:
list(proprietari_auto.values())

['Punto', 'Multipla', 'Golf', '107']

In [23]:
rubrica.values()

dict_values(['123', '456', '789', '012', '345'])

In [31]:
for auto in proprietari_auto.values():
    if auto != "Multipla":
        print(auto)

Punto
Golf
107

In [34]:
proprietari_auto = {"Ada": "Punto",
                    "Ben": "Multipla",
                    "Charlie": "Golf",
                    "Debbie": "107",
                   "Emily": "A1"}
nuovi_proprietari = {"Ben": "Polo",
                     "Fred": "Octavia",
                     "Grace": "Yaris",
                     "Hugh": "Clio"}

In [36]:
proprietari_auto.update(nuovi_proprietari)

In [38]:
proprietari_auto

{'Ada': 'Punto',
 'Ben': 'Polo',
 'Charlie': 'Golf',
 'Debbie': '107',
 'Emily': 'A1',
 'Fred': 'Octavia',
 'Grace': 'Yaris',
 'Hugh': 'Clio'}

In [41]:
dati = [2, 5, 8, 10, 500, 20, -4]

In [43]:
minimo = min(dati)
massimo = max(dati)
print(f"Il minimo e {minimo} e il massimo e {massimo}")

Il minimo e -4 e il massimo e 500

In [46]:
dati = [2, 5, 8, 10, 500, 20, -4, 25, 60, 100, 105]

In [48]:
dati.sort()

In [50]:
dati

[-4, 2, 5, 8, 10, 20, 25, 60, 100, 105, 500]

In [52]:
dati[-3:]

[100, 105, 500]

In [54]:
dati = [2, 5, 8, 10, 500, 20, -4, 25, 60, 100, 105]
dati.sort()
tre_massimi = dati[-3:]

print("I tre numeri piu grandi sono:", tre_massimi)

I tre numeri piu grandi sono: [100, 105, 500]

In [58]:
dati = [2, 5] #, 8, 10, 500, 20, -4, 25, 60, 100, 105]

if len(dati) > 3:
    dati.sort()
    tre_massimi = dati[-3:]
    print("I tre numeri piu grandi sono:", tre_massimi)
else:
    print("Ci sono meno di 3 valori")
    print("I numeri piu grandi sono:", dati)

Ci sono meno di 3 valori
I numeri piu grandi sono: [2, 5]

In [61]:
max(dati)

5

In [63]:
dati = [2, 5, 8, 10, 500, 20, -4, 25, 60, 100, 105]

In [67]:
max(dati)

500

In [69]:
help(dati.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [75]:
dati.sort(reverse=True)

In [77]:
dati

[500, 105, 100, 60, 25, 20, 10, 8, 5, 2, -4]

In [80]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [83]:
numeri = [5, 2, 3, 4]

for numero in numeri:
    print("*"*numero)

*****
**
***
****

In [86]:
lista_cf = ["ABCDEF95G01A123B", 
            "GHIJKL91M02A321C", 
            "MNOPQR89S03A456D", 
            "STUVWX95Z04A654E", 
            "XYZABC01D05A789F", 
            "DEFGHI95J06A987G"]

In [96]:
lista_cf_95 = [] #init
for cf in lista_cf:
    if "95" in cf:
        lista_cf_95.append(cf)
        
print(lista_cf_95)

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [93]:
for cf in lista_cf_95:
    print("Nome:",cf[:3])
    print("Cognome:", cf[3:6])

Nome: ABC
Cognome: DEF
Nome: STU
Cognome: VWX
Nome: DEF
Cognome: GHI

In [100]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3] 

for i in range(len(studenti)):
    studente = studenti[i]
    edizione = edizioni[i]
    if edizione == 1:
        print(studente)

Alex
Faith

In [104]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] 
prezzi_corretti = [] #init

for prezzo in prezzi:
    prezzo_corretto = prezzo.replace("€", "$")
    prezzi_corretti.append(prezzo_corretto)

print(prezzi_corretti)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [108]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [110]:
studenti[::2]

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']

In [112]:
studenti[1::2]

['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [132]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

In [119]:
print("Mese 1:", guadagni[0], "€")
for guadagno in guadagni

SyntaxError: expected ':' (1793031128.py, line 2)

In [138]:
somma = 0 #init

for numero_mese in range(len(guadagni)+1):
    if numero_mese == 0:
        print("Mese 1:", guadagni[0], "€")
    else: # dal secondo mese in poi
        somma += guadagni[numero_mese-1]
        media = somma / numero_mese
        media = round(media, 2)
        guadagno_attuale = guadagni[numero_mese]
        print(f"Mese {numero_mese+1}: {guadagno_attuale} € (media prec: {media} €)", end="")
        if guadagno_attuale < media:
            print(" - il guadagno attuale e minore")
        else:
            print(" - il guadagno attuale e maggiore")

Mese 1: 100 €
Mese 2: 90 € (media prec: 100.0 €) - il guadagno attuale e minore
Mese 3: 70 € (media prec: 95.0 €) - il guadagno attuale e minore
Mese 4: 40 € (media prec: 86.67 €) - il guadagno attuale e minore
Mese 5: 50 € (media prec: 75.0 €) - il guadagno attuale e minore
Mese 6: 80 € (media prec: 70.0 €) - il guadagno attuale e maggiore
Mese 7: 90 € (media prec: 71.67 €) - il guadagno attuale e maggiore
Mese 8: 120 € (media prec: 74.29 €) - il guadagno attuale e maggiore
Mese 9: 80 € (media prec: 80.0 €) - il guadagno attuale e maggiore
Mese 10: 20 € (media prec: 80.0 €) - il guadagno attuale e minore
Mese 11: 50 € (media prec: 74.0 €) - il guadagno attuale e minore
Mese 12: 50 € (media prec: 71.82 €) - il guadagno attuale e minore

IndexError: list index out of range